version: "3"

services:
  app:
    container_name: "cac-library-dev"
    build:
      context: .
    ports:
      - 3000:3000
    volumes:
      - ./src:/app/src
      - ./public:/app/public
    restart: always
