@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #000;
  --secondary-color: #333;
  --primary-accent: #9af;
  --secondary-accent: #ee3;
  --primary-background: #fff;
  --secondary-background: #f6f6f6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #fff;
    --secondary-color: #eee;
    --primary-accent: #6af;
    --secondary-accent: #ee3;    
    --primary-background: #333;
    --secondary-background: #3a3a3a;
  }
}

body {
  transition-property: color, background;
  transition-timing-function: linear;
  transition-duration: .3s;
  color: var(--primary-color);
  background: var(--primary-background);
}

.fill-primary {
  fill: var(--primary-color);
}

.fill-secondary {
  fill: var(--secondary-color);
}

.bg-primary {
  background-color: var(--primary-background);
}

.bg-secondary {
  background-color: var(--secondary-background);
}

.bg-accent {
  background-color: var(--primary-accent);
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
